<div class="jumbotron text-center" [ngStyle]="CurrentStyles">
  <h1>{{ ArticleDetail.title }}</h1>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-3">
          <app-daftar-isi></app-daftar-isi>
      </div>
      <div id="artikel" class="col-md-6" [innerHTML]="ArticleDetail.content">
      </div>
      <div class="col-md-3">
          <app-list-kategori></app-list-kategori>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <app-comment></app-comment>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>