footer {
    background-color: #cc9900 !important;
}

.jumbotron {
	color: #ffffff;
	padding: 30px;
}

#artikel {
	padding-left: 25px;
	text-align: justify;
	font-size: 20px;
	/*font-family: 'Bitter', serif;*/
}

.affix {
    top: 70px;
}

@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

.infoArtikel {
	font-size: 12px !important;
	color: #6f6f6f;
	text-align: center;
}

h3 {
	padding-top: 50px;
}

footer, #daftarKomen, #tombol, .well {
	margin-top: 10px;
}