<nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="tombolSidebar">
        <span class="icon-bar" style="border-bottom: 1px solid white;"></span>
        <span class="icon-bar" style="border-bottom: 1px solid white;"></span>
        <span class="icon-bar" style="border-bottom: 1px solid white;"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">kUrNiAwANEw.CoM</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li *ngFor="let Menu of Menus" [attr.id]="Menu.name" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="Menu.path">{{ Menu.name }}</a>
          </li>
        </ul>
      </div>
    </div>
</nav>