.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
}

.navbar-brand {
	font-size: 25px !important;
	letter-spacing: 0px;
	vertical-align: middle;
    font-family: 'Luckiest Guy', cursive;
    text-transform: none !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
    color: #fff !important;
}

a:hover, a {
    color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}

#tombolSidebar {
    float: left !important;
}