@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans:400,400i,700,700i');

.login-logo {
    font-family: 'Luckiest Guy', cursive;
    color: #fff !important;
    border: 3px solid #000;
}