<h2><i class="glyphicon glyphicon-comment"></i> Kolom Komentar</h2>

<div id="daftarKomen"></div>
<div class="loader"></div>

<form id="formKomen">
	<input type="hidden" name="_token" value="gvVpbNMsH397WktM2jquk6EUVcbIKAD5OyNsMUnu">
	<input type="hidden" name="parent" value="">
	<input type="hidden" name="referrer" value="">
	<input type="hidden" name="permalink" value="">
	<input type="hidden" name="comment_date_gmt" value="">

	<div class="form-group">
	  <textarea class="form-control" name="IsiKomen" id="IsiKomen" rows="4" placeholder="Apa komentar kamu?" required></textarea>
	</div>

	<div class="form-group">
	  <input type="text" name="Nama" value="" id="Nama" class="form-control" placeholder="Nama" required>
	</div>

	<div class="form-group">
	  <input type="email" name="Email" value="" id="Email" class="form-control" placeholder="Email" required>
	</div>

	<div class="form-group">
	  <input type="text" name="Website" value="" id="Website" class="form-control" placeholder="Website (Kalau punya)" required>
	</div>

	<re-captcha (resolved)="resolved($event)" siteKey="6LegbB4UAAAAAN3s_30WkzLkH92IMmqL7QmgidYM"></re-captcha>

	<div class="row" id="tombol">
	  <div class="col-md-2">
	    <button type="button" class="btn btn-default" id="kirim">
	    Kirim
	    </button>
	  </div>
	  <div class="col-md-2">
	    <button type="button" class="btn btn-link" id="batal">
	    Batal
	    </button>
	  </div>
	</div>

	<div class="alert"></div>

</form>
