<div class="wrapper">

  <app-admin-header *ngIf="isNotLogin"></app-admin-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-admin-left-side *ngIf="isNotLogin"></app-admin-left-side>

  <!-- Content Wrapper. Contains page content -->
  <router-outlet></router-outlet>
  <!-- <app-admin-content></app-admin-content> -->
  <!-- /.content-wrapper -->
  <app-admin-footer *ngIf="isNotLogin"></app-admin-footer>

  <!-- Control Sidebar -->
  <!-- <app-admin-control-sidebar *ngIf="isNotLogin"></app-admin-control-sidebar> -->
  <!-- /.control-sidebar -->
</div>
