footer, .btn-default, .jumbotron, .navbar {
    background-color: #cc9900 !important;
}

.jumbotron {
	color: #ffffff;
	padding: 30px;
}

#artikel {
	padding-left: 25px;
	text-align: justify;
	font-size: 20px;
	/*font-family: 'Bitter', serif;*/
}

.affix {
    top: 70px;
}

@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

.infoArtikel {
	font-size: 12px !important;
	color: #6f6f6f;
	text-align: center;
}

h3 {
	padding-top: 50px;
}

footer, #daftarKomen, #tombol, .well {
	margin-top: 10px;
}

footer,
.btn-default,
.jumbotron,
.navbar {
    background-color: #cc0000 !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a,
a:hover,
a {
    color: #cc0000 !important;
}
.loader {
    border-top: 20px solid #000000;
    border-bottom: 20px solid #000000;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.masonry { /* Masonry container */
    /*column-count: 3;*/
    column-gap: 2em;
    margin-right: 2em;
    margin-left: 2em;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    width: 100%;
}