<div class="jumbotron text-center">
  <h1>BLOG</h1>
</div>
<div class="masonry" id="blogList">
  <div class="item" *ngFor="let BlogList of BlogLists" style="text-align: center;">
    <div [style.background-color]="BlogList.category.color" style="color: #fff; width: 100%; text-align: center;">
      {{BlogList.category.name}}
    </div>
    <a routerLink="/blog/{{BlogList.slug}}" class="artikel">
      <div>
          <img [attr.src]="BlogList.picture" style="width: 100%">
      </div>
      <h2>
          <strong>{{BlogList.title}}</strong>
      </h2>
    </a>
    <hr>
    <!-- <p style="text-align: justify;">
      {{BlogList.content}}
    </p> -->
  </div>
</div>