<div id="mySidenav" class="sidenav SideHide">
	<a class="linkSide" routerLink="/home">HOME</a>
  	<a class="linkSide" routerLink="/blog">BLOG</a>
  	<a class="linkSide" href="#">PORTOFOLIO</a>
  	<a class="linkSide" href="#">KONTAK</a>
</div>