<app-navbar></app-navbar>
<app-sidenav></app-sidenav>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
    <div class="carousel-inner" role="listbox">
      <div class="item
        active
        ">
        <div class="jumbotron text-center" style="background-color: #cc3300;">
          <h1>Halo Orang Asing,</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #cc6600;">
          <h1>Selamat Datang</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #cc9900;">
          <h1>Perkenalkan Saya Kurniawan Eko Wasono</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #99cc00;">
          <h1>Situs Ini Adalah Tempat Untuk</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #33cc00;">
          <h1>Blog Saya,</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #00cc66;">
          <h1>Dan Portofolio Saya</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #0099cc;">
          <h1>Untuk Masuk Lebih Jauh</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #0066cc;">
          <h1>Silahkan Pilih Menu Di Atas</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #0000cc;">
          <h1>Tunggu Apa Lagi?</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #6600cc;">
          <h1>Slide Ini Akan Diulang</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #cc0066;">
          <h1>Masih Mau Nunggu?</h1>
        </div>
      </div>
      <div class="item
        ">
        <div class="jumbotron text-center" style="background-color: #cc0033;">
          <h1>Ya Sudah Terserah</h1>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>