@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans:400,400i,700,700i');

.jumbotron {
    color: #ffffff;
    height:100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

h1 {
    vertical-align: middle;
    display: table-cell;
}

body {
    font: 17px 'Noto Sans', sans-serif;
    line-height: 1.8;
    color: #000000;
    position: relative;
}

.btn-default:hover {
    background-color: #007399 !important;
    color: #fff;
    border-color: transparent;
}

.btn-default {
    background-color: #0099cc !important;
    color: #fff;
    border-color: transparent;
    border-radius: 0;
}

.panel, .well, .panel-heading, .panel-footer {
    border-radius: 0 !important;
    background-color: #fff !important;
}

.loader {
    border: 20px solid #f3f3f3;    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}