<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Blog Admin Panel
  </div>
  <strong>Copyright &copy; 2018 <a href="http://kurniawanew.com">KURNIAWANEW.COM</a>.</strong> All rights reserved.
</footer>
