<h2><i class="glyphicon glyphicon-tags"></i> Daftar Kategori</h2>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let CategoryList of CategoryLists">
        <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#Collapse' + CategoryList.id">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ CategoryList.name }}
                </h4>
            </div>
        </a>
        <div [attr.id]="'Collapse' + CategoryList.id" class="panel-collapse collapse">
            <div class="panel-body" *ngFor="let ArticleList of CategoryList.articles">
                <li>
                    <a [routerLink]="['/blog', ArticleList.slug]">
                    {{ ArticleList.title }}
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>